# Teoretični izpit tečaja Analitika podatkov v Python-u

Čas reševanja: `90 min`

Skupno število točk: `30 pts`

Odgovore na vprašanja vnesite v celice s komentarjem `# Odgovor`

Za vsa vprašanja smo na voljo.

Lahko si pomagate z uporabo gradiv in internetom. Ne pozabite na uradno dokumentacijo.

Srečno!!

**Pred začetkom izpita zaženite spodnjo celico:**

In [ ]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

import requests
from bs4 import BeautifulSoup

### 1.del - Numpy

`Možne točke: 5 pts`

##### 1.1) Ustvarite Numpy array `1 pts`

Ustavrite Numpy array z vrednostmi od 1 do vključno 50.

In [ ]:
# Odgovor

Želena rešitev:
    
```
array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])
```

In [ ]:
# Rešitev 1
Z = np.arange(1,51)

# Rešitev 2
Z = np.linspace(1,50,50)

##### 1.2) Negirajte vse elemente Numpy array-a, ki so med med 3 in vključno 8. `1 pts`

In [ ]:
Z = np.arange(11)
Z

In [ ]:
# Odgovor

Želena rešitev:
```
array([ 0,  1,  2,  3, -4, -5, -6, -7, -8,  9, 10])
```

In [ ]:
# Rešitev 1
Z[(3 < Z) & (Z <= 8)] *= -1

# Rešitev 2
Z[4:9]=-Z[4:9]

##### 1.3) Ustvarite in sortirajte naključni array. `2 pts`

Ustvarite Numpy array 10 naključnih števil in ga sortirajte od najmanjšega do največjega števila.

In [ ]:
np.random.seed(2)
# Odgovor

Želena rešitev:
    
```
array([0.02592623, 0.20464863, 0.26682728, 0.29965467, 0.33033482,
       0.4203678 , 0.43532239, 0.4359949 , 0.54966248, 0.61927097])
```

In [ ]:
# Rešitev
np.random.seed(2)
Z = np.random.random(10)
Z.sort()
Z

##### 1.4) Pretvorite 32-bitni float Numpy array v 64-bitni integer Numpy array. `1 pts`

In [ ]:
Z = np.arange(10, dtype=np.float32)
Z.dtype

In [ ]:
# Odgovor

Za pravilni odgovor mora spodnja celica vrniti naslednje:
```
dtype('int64')
```

In [ ]:
Z.dtype

In [ ]:
# Rešitev
Z = Z.astype(np.int64, copy=False)
Z.dtype

### 2. del - pandas 1/3

`Možne točke: 5 pts`

##### 2.1) Kako naredimo pandas Series iz sledečih podatkovnih tipov? `1 pts`

Izdelajte pandas Series iz vsakega spodnjega podatkovnega tipa: list, numpy array, dictionary.

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
# Odgovor 1 - mylist
ser1 = 

# Odgovor 2 - myarr
ser2 = 

# Odgovor 3 - mydict
ser3 =

Za pravilni odgovor mora spodnja celica vrniti `pandas.core.series.Series` za vsako spremenljivko.

In [ ]:
print(type(ser1))
print(type(ser2))
print(type(ser3))

In [ ]:
# Rešitev
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

##### 2.2) Kako združimo dve pandas Series v pandas Dataframe  `1 pts`

Združi series1 in series2 v dataframe.

In [ ]:
series1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
series2= pd.Series(np.arange(26))

In [ ]:
# Odgovor
df1 =

Za pravilni odgovor mora spodnja celica vrniti dataframe naslednje oblike:

```
  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4
```

In [ ]:
print(df1.head())

In [ ]:
# Rešitev

# Solution 1
df1 = pd.concat([series1, series2], axis=1)

# Solution 2
df1 = pd.DataFrame({'col1': series1, 'col2': series2})
print(df1.head())

# Rešitev 2
df1 = pd.concat([series1, series2], axis=1).rename(columns={0: "col1", 1: "col2"})

##### 2.3) Kako izračunamo število zankov vsake besede v  pandas Series?  `2 pts`

Izračunajte število znakov v vsaki besedi v `ser_beseda`. Naredite nov pandas dataframe, ki vsebuje dva stolpca: besede (ser_beseda) in stevilo_znakov (izračunano stevilo znakov).

In [ ]:
ser_beseda = pd.Series(['veliko', 'zannje', 'kako', 'ne', 'pandasinnumpy'])

In [ ]:
# Odgovor


df_stevilo =

Za pravilni odgovor mora spodnja celica vrniti dataframe naslednje oblike:
    
```
          besede  stevilo_znakov
0         veliko               6
1         zannje               6
2           kako               4
3             ne               2
4  pandasinnumpy              13
```

In [ ]:
print(df_stevilo)

In [ ]:
# Rešitev
temp = ser_beseda.map(lambda x: len(x))
df_stevilo = pd.DataFrame({'besede': ser_beseda, 'stevilo_znakov': temp})
print(df_stevilo)

##### 2.4) Kako pretvorimo pandas series s stringi datumov v pandas timeseries?  `1 pts`

Dani pandas series `ser_times` pretvorite v pandas timeseries tipa datetime64[ns].

In [ ]:
ser_times = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [ ]:
# Odgovor

set_datatime =

Za pravilni odgovor mora spodnja celica vrniti series naslednje oblike:

```
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [ ]:
print(set_datatime)

In [ ]:
# Rešitev
# Solution 1
from dateutil.parser import parse
set_datatime = ser_times.map(lambda x: parse(x))

# Solution 2
set_datatime = pd.to_datetime(ser_times)

### 3. del - pandas 2/3

`Možne točke: 5 pts`

##### 3.1) Kako izpišemo zadnje 3 vrstice pandas dataframe-a, kjer je vsota vrstic večja od 100?  `2 pts`

Izpišite zadnje 3 vrstice dataframe-a katerega vsota vrstic je večja od 100.

In [ ]:
np.random.seed(1)
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [ ]:
# Odgovor


df_last_3 =

Za pravilni odgovor mora spodnja celica vrniti dataframe naslednje oblike:
```
     0   1   2   3
7   28  14  33  33
10  17  39  32  35
12  18  34  23  29
```

In [ ]:
print(df_last_3)

In [ ]:
# Rešitev
# print row sums
rowsums = df.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
df_last_3 = df.iloc[np.where(rowsums > 100)[0][-3:], :]

# Rešitev 2
df1=df[df.sum(axis=1)>100]
df_last_3 = df1.tail(3)

##### 3.2) Kako dodamo dva stolpca pandas dataframe-u, ki vsebujeta max in min vrednost vsake vrstice? `2 pts`

Danemu pandas dataframe-u dodajte dva stolpca, ki vsebujeta max in min vrednost vsake vrstice.

In [ ]:
np.random.seed(2)
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [ ]:
df

In [ ]:
# Odgovor

min_max_df =

Za pravilni odgovor mora spodnja celica vrniti dataframe naslednje oblike:
```
    0   1   2   3   4   5   6   7   8   9  min  max
0  41  16  73  23  44  83  76   8  35  50    8   83
1  96  76  86  48  64  32  91  21  38  40   21   96
2  68   5  43  52  39  34  59  68  70  89    5   89
3  69  47  71  96  84  32  67  81  53  77   32   96
4  51   5  91  64  80  50  40  47   9  51    5   91
5  16   9  18  23  74  58  91  63  84  97    9   97
6  44  33  27   9  77  11  41  35  61  10    9   77
7  71  87  71  20  57  83   2  69  41  82    2   87
```

In [ ]:
print(df)

In [ ]:
# Rešitev
df['min'] = df.min(axis=1)
df['max'] = df.max(axis=1)

##### 3.3)  Izbira vrstic in stolpcev `1 pts`

Iz spodnjih podatkov sestavite dataframe z imenom `exam_df`. List `labels` naj bodo index-i dataframe-a.

Iz sestavljenega dataframe-a izberite stolpca `'name' in 'score'` ter vrstice `c, d in e`.

Podatki:

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# Odgovor

Želena rešitev:
```
        name  score
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
```

In [ ]:
# Rešitev
exam_df = pd.DataFrame(exam_data , index=labels)
print(exam_df.loc['c':'e', ['name', 'score']])

### 4.del - pandas 3/3

`Možne točke: 5 pts`

Dataframe `df_grade` za naslednji sklop nalog:

In [ ]:
df_grade = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}, 
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [ ]:
df_grade

##### 4.1)  Izbira podatkov glede na dani kriteriji `1 pts`

Iz dataframe-a `df_grade` izberite vrstice, ki izpolnjujejo naslednja pogoja:
- vrednost stolpca 'attempts' je **manjša ali enaka**  2,
- vrednost stolpca 'score' je **večja** od 12.

In [ ]:
# Odgovor

Želena rešitev:
```
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
c  Katherine   16.5         2     yes
g    Matthew   14.5         1     yes
j      Jonas   19.0         1     yes
```

In [ ]:
# Rešitev
print(df_grade[(df_grade['attempts'] <= 2) & (df_grade['score'] > 12)])

##### 4.2)  Sprememba vrednosti v dataframe-u `1 pts`

V `df_grade`spremenite vrednost vrstice `d` in stolpca `score` v 11.5.

In [ ]:
# Odgovor

Želena rešitev:
```
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
```

In [ ]:
# Rešitev
df_grade.loc['d', 'score'] = 11.5
print(df_grade)

##### 4.3) Izračun vsote `1 pts`

Izračunajte vsoto stolpca `attempts` v `df_grade`.

In [ ]:
# Odgovor

Želen odgovor:

```
Vsota je 19
```

In [ ]:
# Rešitev
print('Vsota je', df_grade['attempts'].sum())

##### 4.4) Razvrščanje podatkov `2pts`

Dataframe `df_grade` razvrstite glede na podatke v stolpcu `name`:
- v padajočem vrstnem redu
- v naraščajočem vrstnem redu

In [ ]:
# Odgovor

Želena rešitev:
    
```
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James   11.5         3      no
j      Jonas   19.0         1     yes
c  Katherine   16.5         2     yes
i      Kevin    8.0         2      no
h      Laura    NaN         1      no
g    Matthew   14.5         1     yes
f    Michael   20.0         3     yes

in

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
```

In [ ]:
# Rešitev
print(df_grade.sort_values(by=['name'], ascending=[True]))
print(df_grade.sort_values(by=['name'], ascending=[False]))

### 5.del - matplotlib

`Možne točke: 5 pts`

Podatki za naloge:

In [ ]:
x1 = [1,2,3,4,5,6,7,8,9,10]
y1 = [3,5,6,4,5,8,7,5,8,9]
y2 = [12,16,17,15,14,18,20,16,13,11]

##### 5.1) Naloga 1  `1 pts`

Izrišite nepovezane točke (x1, y1). Točke naj bodo **rdeče** barve.

Graf naj bo poimenovan **Naloga 1**.

Os x naj bo poimenovana **os x**.

Os y naj bo poimenovana **os y**.

In [ ]:
# Odgovor

Želena rešitev:

<img width=300 src="./data/slika2.png">

In [ ]:
# Rešitev

plt.title("Naloga 1")
plt.scatter(x1, y1, c="red")

plt.xlabel("os x")
plt.ylabel("os y")

plt.show()

##### 5.2) Naloga 2  `1 pts`

Ustvarite 2 grafa v isti figuri:
- Na prvega zrišite graf povezanih točk (x1, y1). Graf naj bo **zelene barve**.
- Na drugega izrišite graf povezanih točk (x1, y2). Graf naj bo **črne barve**.

In [ ]:
# Odgovor

Želena rešitev:

<img width=300 src="./data/slika5.png">

In [ ]:
# Rešitev
plt.subplot(1,2,1)
plt.plot(x1, y1, color='green')
plt.subplot(1,2,2)
plt.plot(x1, y2, color='black')
plt.show()

##### 5.3) Naloga 3  `1 pts`

V isti graf izrišite povezane točke (x1, y1) in (x1, y2).

Omejite y os na interval **od minimalne** vrednosti izmed podatkov y1 in y2, **do maksimalne** vrednosti izmed podatkov y1 in y2.

In [ ]:
# Odgovor

Želena rešitev:

<img width=300 src="./data/slika3.png">

In [ ]:
# Rešitev
plt.plot(x1, y1)
plt.plot(x1, y2)
plt.ylim(min(y1+y2), max(y1+y2))

plt.show()

##### 5.4) Naloga 4  `1 pts`

V isti graf izrišite povezane točke (x1, y1) in (x1, y2).

Prvi nabor točk poimenujte **Podatki 1**, drugi nabor točk poimenujte **Podatki 2**.

Na grafu prikažite legendo.

In [ ]:
# Odgovor

Želena rešitev:

<img width=300 src="./data/slika4.png">

In [ ]:
# Rešitev
plt.plot(x1, y1, label="Podatki 1")
plt.plot(x1, y2, label="Podatki 2")
plt.legend()

plt.show()

##### 5.5) Naloga 5  `1 pts`

V isti graf izrišite povezane točke (x1, y1) in (x1, y2).

Nastavite, da graf izriše **pomožne črte** (grid).

Na x osi nastavite **ticks** na **vsako drugo vrednost iz x1 seznama**.

In [ ]:
# Odgovor

Želena rešitev:

<img width=300 src="./data/slika1.png">

In [ ]:
# Rešitev
plt.plot(x1, y1)
plt.plot(x1, y2)
plt.grid(True)
plt.xticks(x1[1::2])

plt.show()

### 6.del - Webscraping

`Možne točke: 5 pts`

Podatki za naloge:

In [ ]:
link = "https://en.wikipedia.org/w/index.php?title=Chernobyl_(miniseries)&direction=next&oldid=899952822"

##### 6.1) HTTP GET  request `1 pts`

Naredite http zahtevek na zgornjo spletno stran (spremenljivka `link`). Izpišite kodo uspešnosti zahtevka, ki vam jo vrne strežnik in html kodo strani.

In [ ]:
# Odgovor

Želena rešitev:

```
200

<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>Chernobyl (miniseries) - Wikipedia</title>
<script>document.documentElement.className=document.documentElement.className.replace(/(^|\s)client-nojs(\s|$)/,"$1client-js$2");RLCONF={"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"Chernobyl_(miniseries)","wgTitle":"Chernobyl (miniseries)","wgCurRevisionId":899952822,"wgRevisionId":899952822,"wgArticleId":55876266,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["CS1 Lithuanian-language sources (lt)",
...
```

In [ ]:
# Rešitev
r = requests.get(link)
print(r.status_code)
print()
#print(r.text)

##### 6.2) Izpis naslovov `2 pts`

Izpišite naslove prvih štirih epizod.

In [ ]:
# Odgovor

Za pravilno rešitev mora celica vrniti:
```
"1:23:45"
"Please Remain Calm"
"Open Wide, O Earth"
"The Happiness of All Mankind"
```

In [ ]:
# Rešitev
r = requests.get(link)
html_soup = BeautifulSoup(r.text, 'html.parser')
episodes = html_soup.find_all("td", {"class": "summary"}, limit=4)
for episode in episodes:
    print(episode.get_text())

##### 6.3) Imena igralcev `2 pts`

Želimo izvedeti ime in priimek prvih treh igralcev napisanih na wikipedia povezavi (več na spodnji sliki, zanimajo nas igralci v rdečem okvirčku).

Dodatno želimo za vsakega izvedeti njegov datum rojstva (datum rojstva najdemo na strani igralca).

<img width=300 src="data/chenobyl.PNG">

In [ ]:
# Odgovor

Za pravilno rešitev mora celica vrniti:
```
Jared Harris, rojen 1961-08-24
Stellan Skarsgård, rojen 1951-06-13
Paul Ritter, rojen 1966-03-05
```

In [ ]:
# Rešitev
rešitev = {}

r = requests.get(link)
html_soup = BeautifulSoup(r.text, 'html.parser')
names = html_soup.find("", {"class": "mw-parser-output"})
names = names.find("ul")
names = names.find_all("a", limit=3)

for name in names:
    new_r = requests.get("https://en.wikipedia.org" + name["href"])
    html_soup = BeautifulSoup(new_r.text, "html.parser")
    bday = html_soup.find("", {"class":"bday"})
    rešitev[name.text] = bday.text
    
for key in rešitev.keys():
    print(f"{key}, rojen {rešitev[key]}")

---

---

---

---

---

---

---

---

---

---

---

---

---

---

---

# Praktični izpit tečaja Analitika podatkov v Python-u

Čas reševanja: `120 min`

Skupno število točk: `70 pts`

Odgovore na vprašanja vnesite v celice z komentarjem `# Odgovor`

Za vsa vprašanja smo na voljo.

Lahko si pomagate z uporabo gradiv in internetom. Ne pozabite na uradno dokumentacijo.

Srečno!!

**Pred začetkom izpita zaženite spodnjo celico:**

In [ ]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## DEL 1 - Priprava (30 pts)

### 1.1) Uvoz podatkov 

`2 pts`

Pridobili smo podatke registracije avtomobilov v Sloveniji za marec 2019. Datoteka se imenuje `DATA_vozila_RAW.csv`. 

V spodnji spremenljivki je shranjena pot do datoteke. Naložite podatke v pandas dataframe, da jih lako uporabimo za nadaljno obdelavo.

In [ ]:
path = 'data/DATA_vozila_RAW.csv'

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df = pd.read_csv(path, sep=';')

### 1.2) Prikaz osnovnih lastnosti podatkov

#### 1.2.1) Prikažite obliko uvoženega dataframe-a

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.shape

#### 1.2.2) Prikažite tipe spremenljivk za vsak stolpec uvoženega dataframe-a

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.dtypes

#### 1.2.3) Prikažite prvih 7 vrstic uvoženega dataframe-a

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.head(7)

#### 1.2.4) Prikažite zadnjih 6 vrstic uvoženega dataframe-a

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.tail(6)

#### 1.2.5) Prikažite informacije (velikost df, podatkovni tipi, pomnilnik...) uvoženega dataframe-a z uporabo ene metode

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.info()

### 1.3) Priprava podatkov za obdelavo

Pred analizo podatkov moramo naše podatke urediti in pripraviti.

#### 1.3.1) Odstrnjevanje nepotrebnih stolpcev

Odstranite nepotrebne stolpce iz naših podatkov. Imena nepotrebnih stolpcev so shanjena v spodnji spremenljivki `to_drop`.

Operacijo opravite na mestu (inplace).

`2 pts`

In [ ]:
to_drop = ['Unnamed: 0', 'Unnamed: 0.1', 'P.1.5-Oznaka motorja', 'Homologacijska', 'Dvtredu']

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.drop(columns=to_drop, inplace=True)

#### 1.3.2) Preimenovanje imen stolpcev

Preimenujte stolpce, da bo delo s podatki lažje. Preslikave imen stolpcev najdete v spodnji spremenljivki `new_names`.

Operacijo opravite na mestu (inplace).

`2 pts`

In [ ]:
new_names = {'Datum prve registracije vozila': 'Prva_registracija',
             'Registrsko obmocje tablice prve registracije': 'Tablica_kraj',
             'Starost uporabnika vozila': 'Starost_vozinka',
             'Spol uporabnika': 'Spol_voznika',
             'Upravna enota uporabnika vozila': 'Upravna_enota_sifra',
             'Drzava (koda)': 'Država_proizvodnje',
             'Masa vozila': 'Masa_vozila',
             'Kategorija in vrsta vozila (opis)': 'Kategorija_vozila',
             'Nazivna moc': 'Moc',
             'Vrsta goriva (opis)': 'Gorivo',
             'S.1-Stevilo sedezev (vkljucno z vozniskim)': 'Stevilo_sedezev',
             'T-Najvisja hitrost': 'Hitrost_max',
             'V.8-Kombinirana poraba goriva': 'Poraba_goriva',
             'Leto izdelave': 'Leto_izdelave'
}

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.rename(columns=new_names, inplace=True)

#### 1.3.3) Odstranjevenje mankajočih vrednosti

Izpiši število mankajočih vrednosti za vsak stolpec v pandas Series obliki.

Pričakovan odgovor:
```
Prva_registracija         0
Tablica_kraj              0
Starost_vozinka        6349
Spol_voznika           6349
Upravna_enota_sifra       0
Znamka                    0
Država_proizvodnje        0
Masa_vozila               0
...
```

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.isnull().sum()

---

`2 pts`

Odstrani vse vrstice v naših podatkih za katere ima stolpec `Starost_vozinka` manjkajoče vrednosti.

Delo nadaljuj z novimi podatki.

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df = df[pd.notnull(df['Starost_vozinka'])].copy()

---

`2 pts`

Vse manjkajoče vrednosti v stolpcu `Stevilo_sedezev` nadomesti z številom `0`.

Delo nadaljuj z novimi podatki.

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.loc[:,'Stevilo_sedezev'] = df.loc[:,'Stevilo_sedezev'].fillna(0)

#### 1.3.4) Iskanje podvojenih vrstic v podatkih

Poišči število podvojenih vrstic v naših podatkih.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.duplicated().sum()

---

`1 pts`

Odstrani vse podvojene vrstice iz naših podatkov.

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.drop_duplicates(inplace=True)

#### 1.3.5) Transformiranje podatkov

Stolpec `Upravna_enota_sifra` vsebuje šifre upravnih enot. Spodaj je podan slovar, ki preslika šifro upravne enote v njeno ime. Dodajte stolpec `Upravna_enota` v katerem so preslikana imena upravnih enot.

Nadaljujte delo z novimi podatki.

Namig: Uporabite pandas metodo .map()

`2 pts`

In [ ]:
sifra_to_ime = {0: "Neznana",
              1: "AJDOVŠČINA",
              2: "BREŽICE",
              3: "CELJE",
              4: "CERKNICA",
              5: "ČRNOMELJ",
              6: "DOMŽALE",
              7: "DRAVOGRAD",
              8: "GORNJA RADGONA",
              9: "GROSUPLJE",
              10: "HRASTNIK",
              11: "IDRIJA",
              12: "ILIRSKA BISTRICA",
              13: "IZOLA",
              14: "JESENICE",
              15: "KAMNIK",
              16: "KOČEVJE",
              17: "KOPER",
              18: "KRANJ",
              19: "KRŠKO",
              20: "LAŠKO",
              21: "LENART",
              22: "LENDAVA",
              23: "LITIJA",
              24: "LJUBLJANA",
              29: "LJUTOMER",
              30: "LOGATEC",
              34: "METLIKA",
              35: "MOZIRJE",
              36: "MURSKA SOBOTA",
              37: "NOVA GORICA",
              38: "NOVO MESTO",
              39: "ORMOŽ",
              40: "PIRAN",
              41: "POSTOJNA",
              42: "PTUJ",
              43: "RADLJE OB DRAVI",
              44: "RADOVLJICA",
              45: "RAVNE NA KOROŠKEM",
              46: "RIBNICA",
              47: "SEVNICA",
              48: "SEŽANA",
              49: "SLOVENJ GRADEC",
              50: "SLOVENSKA BISTRICA",
              51: "SLOVENSKE KONJICE",
              52: "ŠENTJUR PRI CELJU",
              53: "ŠKOFJA LOKA",
              54: "ŠMARJE PRI JELŠAH",
              55: "TOLMIN",
              56: "TRBOVLJE",
              57: "TREBNJE",
              58: "TRŽIČ",
              59: "VELENJE",
              60: "VRHNIKA",
              61: "ZAGORJE OB SAVI",
              62: "ŽALEC",
              64: "MARIBOR",
              65: "PESNICA",
              68: "RUŠE"}

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df['Upravna_enota'] = df['Upravna_enota_sifra'].map(sifra_to_ime)

#### 1.3.6) Sprememba podatkovnih tipov

Pretvori stolpec `Prva_registracija` v podatkovni tip `datetime64[ns]`.


Nadaljujte delo z novimi podatki.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.loc[:,'Prva_registracija'] = pd.to_datetime(df.loc[:, 'Prva_registracija'])

---

Pretvori naslednje stolpce v naslednje podatkovne tipe:
- `Starost_vozinka` -> `int64`
- `Masa_vozila` -> `float64` (pozor na decimalno vejico namesto decimalne pike)
- `Moc` -> `float64` (pozor na decimalno vejico namesto decimalne pike)
- `Stevilo_sedezev` -> `int64`

Na koncu želimo imeti podatke takšne oblike: 
```
Prva_registracija      8298 non-null datetime64[ns]
Tablica_kraj           8298 non-null object
Starost_vozinka        8298 non-null int64
Spol_voznika           8298 non-null object
Upravna_enota_sifra    8298 non-null int64
Znamka                 8298 non-null object
Država_proizvodnje     8298 non-null object
Masa_vozila            8298 non-null float64
Kategorija_vozila      8298 non-null object
Moc                    8298 non-null float64
Gorivo                 8298 non-null object
Stevilo_sedezev        8298 non-null int64
Hitrost_max            8194 non-null float64
Poraba_goriva          6812 non-null object
Leto_izdelave          8298 non-null int64
Upravna_enota          8298 non-null object
```

`4 pts`

In [ ]:
# Odgovor

In [ ]:
# Odgovor

In [ ]:
# Odgovor

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.loc[:, 'Starost_vozinka'] = df['Starost_vozinka'].astype('int64')

In [ ]:
df.loc[:, 'Masa_vozila'] = df['Masa_vozila'].apply(lambda val: float(val.replace(',', '.')))

In [ ]:
df.loc[:, 'Moc'] = df['Moc'].apply(lambda val: float(val.replace(',', '.')))

In [ ]:
df.loc[:, 'Stevilo_sedezev'] = df['Stevilo_sedezev'].astype('int64')

#### 1.3.7) Sprememba vrednsoti v določenih celicah

- V stolpcu `Tablica_kraj` imamo vrednost `KR?KO`. Kot zgleda podatek ni bil pravilno vnešen. Spremenite vse vrednosti `KR?KO` v `KRSKO`.

- V stolpcu `Znamka` imamo vrednost `?KODA`. Kot zgleda podatek ni bil pravilno vnešen. Spremenite vse vrednosti `?KODA` v `SKODA`.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.loc[df['Tablica_kraj'] == 'KR?KO', 'Tablica_kraj'] = 'KRSKO'
df.loc[df['Znamka'] == '?KODA', 'Znamka'] = 'SKODA'

### 1.4) Izvoz urejenih podatkov

Pripravljene in urejene podatke izvozite v novo csv datoteko z imenom `DATA_vozila_CLEAN`. Za pot lahko uporabite pripravljano spremenljivko `path`. Za separator uporabite `,`. Indexa **ne** izvozite s podatki.

`1 pts`

In [ ]:
path = 'data/DATA_vozila_CLEAN.csv'

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.to_csv(path, sep=',', index=False)

## DEL 2 - Analiza (40 pts)

V tem delu sledi analiza urejenih podatkov.

V primeru, da vam ni uspelo urediti podatkov v prejšnjem delu, si jih lahko naložite v pomočjo spodnje celice.

In [ ]:
# Naložimo urejene podatke
df = pd.read_csv('data/DATA_vozila_CLEAN.csv')

In [ ]:
df.head()

Prikažite glavne statistične lastnosti za numerične stolpce z uporabo ene metode.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.describe()

### 2.1) Analiza - Znamke vozil `6 pts`

Analizirajte stolpec `Znamka`.

Izpišite število registriranih števil po znamkah.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df['Znamka'].value_counts()

Prvih 10 vrednosti (10 najbolj pogostih znamk in število registaciiji) zgornjega izračuna shranite v spremenljivko `znamke_top_10`.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
znamke_top_10 = df['Znamka'].value_counts().head(10)

Izrišite graf števil registraciji v odvisnosti od znamk (za `znamke_top_10` Series). 

Uporabite funkcijo plot v knjižnjici pandas. Graf naj bo tipa `bar` z naslovom `Pogostost znamk vozil`

`3 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
znamke_top_10.plot(kind='bar', title='Pogostost znamk vozil')

### 2.2) Analiza - Maksimalna hitrost vozila v primerjavi s spoloma `4 pts`

Izdelejte nov dataframe z imenom `df_osebna_spol`, v katerem shranite samo vrstice, ki predstavljajo osebna vozila (stolpec `Kategorija_vozila` -> vrednost `osebni avtomobil`).

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_osebna_spol = df[(df['Kategorija_vozila'] == 'osebni avtomobil')]

V `df_osebna_spol` shranite samo stolpca `Spol_voznika` in `Hitrost_max`. z uporabo `loc metode`.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_osebna_spol = df_osebna_spol.loc[:,['Spol_voznika','Hitrost_max']]

Izračunajte povprečno vrednost stolpca `Hitrost_max` za vsakega izmed spolov.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_osebna_spol.groupby('Spol_voznika').mean()

### 2.3) Analiza - Primerjava moči vozil po regijah `6 pts`

Izdelejte nov dataframe z imenom `df_osebna_2000_naprej`, v katerem shranite samo vrstice, ki predstavljajo osebna vozila (stolpec `Kategorija_vozila` -> vrednost `osebni avtomobil`), ki so bila izdelana po letu 2000 (vključno z letom 2000, stolpec `Leto_izdelave` >= 2000).

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_osebna_2000_naprej = df[(df['Kategorija_vozila'] == 'osebni avtomobil') & (df['Leto_izdelave'] >= 2000)]

Dobljen dataframe grupirajte po stolpcu `Tablica_kraj` in izračunjte povprečno vrednost za stolpec `Moc`. Dobljen Series poimenujte `moc_povprecna`.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
moc_povprecna = df_osebna_2000_naprej.groupby(["Tablica_kraj"])["Moc"].mean()

V grafu prikažite `moc_povprecna` za vsako regijo. Uporabite graf tipa `bar`.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
moc_povprecna.plot(kind="bar")

### 2.4) Analiza - Primerjava dizel/bencin za osebna vozila po letu izdelave `17 pts`

Izdelejte nov dataframe z imenom `df_osebna_2009_naprej`, v katerem shranite samo vrstice, ki predstavljajo osebna vozila (stolpec `Kategorija_vozila` -> vrednost `osebni avtomobil`), ki so bila izdelana po letu 2009 (vključno z letom 2009, stolpec `Leto_izdelave` >= 2009).

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_osebna_2009_naprej = df[(df['Kategorija_vozila'] == 'osebni avtomobil') & (df['Leto_izdelave'] >= 2009)]

Iz stolpca `Gorivo` izberite samo vnose, ki imajo vrednost `Bencin` ali `Dizel` in jih shranite v `df_osebna_2009_naprej`.

Namig: metoda `pandas.DataFrame.isin`

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_osebna_2009_naprej = df_osebna_2009_naprej[df_osebna_2009_naprej['Gorivo'].isin(['Bencin', 'Dizel'])]

Podatke grupirajte glede na `Leto_izdelave` in `Gorivo`.  Pridobite število vrednosti za posamezno kategorijo in podatke preoblikujte nazaj v tabelo (npr. s pomočjo metode `unstack()`).

Dobljen dataframe shranite v spremenljivko `count_gorivo`.

Želen rezultat:

<img width=200 src="./data/table_1.PNG">

`3 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
count_gorivo = df_osebna_2009_naprej.groupby(['Leto_izdelave', 'Gorivo']).size().unstack()

Preoblikujte dobljene podatke (`count_gorivo`) v obliko primerno za izrisovanje grafa tipa bar.

Prvi korak: Preoblikujte podatke s pomočjo stack metode.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
count_gorivo = count_gorivo.stack()

Drugi korak: Dobljenemu Series objektu dodelite ime `total` s pomočjo name metode.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
count_gorivo.name = 'total'

Tretji korak: Restirajte indexe dobljenemu objektu.
    
`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
count_gorivo = count_gorivo.reset_index()

Pred izrisom podatkov, moramo podatke normalizirati. Možen postopek:
- napišete lastno funkcijo, ki normalizira posamezno skupino podatkov
- `count_gorivo` razvrstite glede na leto izdelave in nad vsako vrstico zaženete normalizacijsko funkcijo

`4 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
def norm_total(group):
    group['normed_total'] = group['total'] / group['total'].sum()
    return group

results = count_gorivo.groupby('Leto_izdelave').apply(norm_total)

Namig (možne so tudi druge rešitve):

> S pomočjo funkcije `sns.barplot` izrišite graf za urejene podatke.
- na osi x prikažite `Leto_izdelave`
- na osi y prikažite `normed_total`
- `hue` vrednost naj predstavlja `Gorivo`

Želen graf:

<img width=300 src="./data/slika6.PNG">

`3 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
sns.barplot(y='normed_total', x='Leto_izdelave', hue='Gorivo', data=results)

### 2.5) Analiza - Korelacija moč/maksimalna hitrost `6 pts`

Izračunajte koorelacijsko matriko za numerične vrednsoti v naših podatkih.

`1 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df_corr = df.corr()

Katere dve spremenljivki sta najbolj povezani?

`1 pts`

In [ ]:
# Odgovor - ni potreben izračun

S pomočjo `sns.lmplot` funkcije izrišite graf, ki prikazuje linearno regresijo med `Hitrost_max` in `Moc`.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
sns.lmplot(data=df, x='Hitrost_max', y='Moc')

Izpišite vrstico, kjer je vrednost `Moc` maksimalna.

`2 pts`

In [ ]:
# Odgovor

In [ ]:
# Rešitev
df.iloc[df['Moc'].idxmax(), :]

## Oddaja

Rešeni notebook pošljite na naslednje e-mail naslove:
- leon.stefanic@ltfe.org 
- gregor.balkovec@ltfe.org
- anze.glusic@ltfe.org

**POMEMBNO!** Pred pošiljanjem notebook preimenujte na naslednji način:

`PYTHON_ANALITIKA_POSKUSNI_IZPIT_IME_PRIMEK`