# Prikazovanje podatkov - osnonvo

## Representation Of Data

## Introduction To The Data

[Dataset](https://www.kaggle.com/datasets/rajanand/rainfall-in-india?resource=download)

Mesečne vrednosti padavin v **mm** za pokrajne in okrožja:
* `STATE_UT_NAME` - pokrajina
* `DISTRICT` - okrožje
* `JAN` - padavine v januarju
* `FEB` - padavine v februarju
* `MAR` - padavine v marcu
* `APR` - padavine v aprilu
* `MAY` - padavine v maju
* `JUN` - padavine v juniju
* `JUL` - padavine v juliju
* `AUG` - padavine v augustu
* `SEP` - padavine v septembru
* `OCT` - padavine v oktobru
* `NOV` - padavine v novembru
* `DEC` - padavine v decembru
* `ANNUAL` - letne padavine
* `Jan-Feb` - padavine v obdobju jan-feb
* `Mar-May` - padavine v obdobju mar-maj
* `Jun-Sep` - padavine v obdobju junij-sept
* `Oct-Dec` - padavine v obdobju okt-dec

In [7]:
import pandas as pd

In [10]:
data = pd.read_csv("./data/district wise rainfall normal.csv")
print(data.info())
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE_UT_NAME  641 non-null    object
 1   DISTRICT       641 non-null    object
 2   JAN            641 non-null    float64
 3   FEB            641 non-null    float64
 4   MAR            641 non-null    float64
 5   APR            641 non-null    float64
 6   MAY            641 non-null    float64
 7   JUN            641 non-null    float64
 8   JUL            641 non-null    float64
 9   AUG            641 non-null    float64
 10  SEP            641 non-null    float64
 11  OCT            641 non-null    float64
 12  NOV            641 non-null    float64
 13  DEC            641 non-null    float64
 14  ANNUAL         641 non-null    float64
 15  Jan-Feb        641 non-null    float64
 16  Mar-May        641 non-null    float64
 17  Jun-Sep        641 non-null    float64
 18  Oct-Dec        641 non-null    float64
dtypes: float64(17), object(2)
memory usage: 95.3+ KB
None

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

----

## Introduction to matplotlib

```bash
$ pip install matplotlib
```

---

```python
import matplotlib.pyplot as plt
```

In [191]:
import matplotlib.pyplot as plt
%matplotlib inline

---

## Axis Ticks

<p><img alt="Axis Ticks" src="images/axis+ticks.png"></p>

---

# Scatter plot

### Fixing Axis Ticks

* [xticks()](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.xticks.html#matplotlib.pyplot.xticks)
* [yticks()](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.yticks.html)

```python
matplotlib.pyplot.xticks(ticks=None, labels=None, **kwargs)
```

[Dokumentacija Text razreda](https://matplotlib.org/stable/api/text_api.html#matplotlib.text.Text)

---

## Asix limits

* [plt.xlim](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.xlim.html)
* [plt.ylim](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.ylim.html)

### Adding Axis Labels And A Title

* [xlabel()](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.xlabel.html?highlight=xlabel#matplotlib.pyplot.xlabel) - vzeme string vrednost katero nastavi kot naslov x osi
* [ylabel()](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.ylabel.html?highlight=ylabel#matplotlib.pyplot.ylabel) - vzeme string vrednost katero nastavi kot naslov y osi
* [title()](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.title.html?highlight=title#matplotlib.pyplot.title) - vzeme string vrednost katero nastavi kot naslov grafa

---

## Matplotlib Classes

```python
pyplot.figure()
```

---

## Grid Positioning

<p><img alt="Subplot Grid" src="images/subplot_grid.png"></p>

---

## Adding Data

    x_values = [0.0, 0.5, 1.0]
    y_values = [10, 20, 40]
    ax1.plot(x_values, y_values)

## Formatting And Spacing

<img alt="Two Plots" src="images/plotting_area_stays_same.jpg">

## Overlaying Line Charts

## Adding A Legend

---

## Gridlines

# Saving plot

---

# Bar plots

### Creating Bars

<p><img alt="Matplotlib Barplot Positioning" src="images/matplotlib_barplot_positioning.png"></p>

### Aligning Axis Ticks And Labels

* [Axes.set_xticks()](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.set_xticks.html)
* [Axes.set_xticklabels()](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.set_xticklabels.html).

---

### Horizontal Bar Plot

---

# Stacked Bar plot

----

# Histogram

[Axes.hist()](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.hist.html)

# Pandas.plot()

In [39]:
import pandas as pd
%matplotlib inline

In [8]:
df = pd.read_csv("./data/college_majors.csv")
df

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

-----

----

---