# Regex in Pandas

In [2]:
import re

In [3]:
pattern = "and"
text = "hand"

m = re.search(pattern, text)
print(m)

<re.Match object; span=(1, 4), match='and'>

In [4]:
pattern = "on"
text = "hand"

m = re.search(pattern, text)
print(m)

None

---

# Dataset

<div class="">

Za dataset bomo uporabili [Hacker News stories](https://www.kaggle.com/hacker-news/hacker-news-posts), ki vsebuje informacije o člankih iz različnih spletnih portalov, od septembra 2015 do septembra 2016. Stolpci so sledeči:   
* `id`: id od članka
* `title`: naslov članka
* `url`: url članka
* `num_points`: število upvotov
* `num_comments`: število komentarjev na članku
* `author`: usernam osebe, ki je spisala članek
* `created_at`: datetime, kdaj je bil članek objavljen (Eastern Time in US)
</div>

In [5]:
import pandas as pd

In [7]:
hn = pd.read_csv('data/hacker_news.csv')
print(hn.info())
hn.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20099 entries, 0 to 20098
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20099 non-null  int64
 1   title         20099 non-null  object
 2   url           17659 non-null  object
 3   num_points    20099 non-null  int64
 4   num_comments  20099 non-null  int64
 5   author        20099 non-null  object
 6   created_at    20099 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB
None

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

# Finding specific words

In [9]:
hn[ hn["title"].str.contains("python") ]

,id,title,url,num_points,num_comments,author,created_at
765,12117140,IronPython 3 (python for .net) development res...,https://www.reddit.com/r/Python/comments/4tbhw...,3,1,tanlermin,7/18/2016 18:34
6129,10512775,Learn data science in python by taking online ...,http://www.dezyre.com/data-science-in-python/36,1,1,shankar251289,11/5/2015 11:34
6711,11328646,"Show HN: Dplython, dplyr data manipulation for...",https://github.com/dodger487/dplython,11,1,capybara,3/21/2016 15:18
7979,10993953,Kickstarter for funding Micropython port to ES...,https://www.kickstarter.com/projects/214379695...,98,41,Sfabris,1/29/2016 7:16
13218,12095313,DQN for Beginners in 200 lines of python code ...,https://yanpanlau.github.io/2016/07/10/FlappyB...,5,1,yanpanlau,7/14/2016 16:40
13575,11269629,Show HN: Venv2docker create a docker image fr...,https://github.com/Markbnj/venv2docker,8,2,markbnj,3/11/2016 21:20
14004,12200724,EasyMake one python file instead tons of Make...,https://github.com/l4l/EasyMake,1,3,kitsu,8/1/2016 7:29
15784,11008512,let in python (2014),https://nvbn.github.io/2014/09/25/let-statemen...,1,2,hatmatrix,1/31/2016 22:43
16026,12238517,Ptpython better than ipython or bpython?,http://terriblecode.com/why-ptpython-is-the-on...,1,1,ausjke,8/6/2016 15:55
18421,12027874,Show HN: Stack overflow command line client ad...,https://github.com/gautamkrishnar/socli,1,1,gautamkrishnar,7/3/2016 22:12
18809,11191696,The origins of the class Meta idiom in python,http://mapleoin.github.io/perma/python-class-meta,6,1,mapleoin,2/28/2016 18:09
19356,10593520,Crypto and SSL toolkit for python (M2Crypto),https://gitlab.com/m2crypto/m2crypto,1,1,kevindeasis,11/19/2015 8:41

In [11]:
hn["title"].str.contains("python").sum()

12

In [12]:
hn["title"].str.contains("Python").sum()

149

In [14]:
hn[ hn["title"].str.contains("Python") ]

,id,title,url,num_points,num_comments,author,created_at
102,10974870,From Python to Lua: Why We Switched,https://www.distelli.com/blog/using-lua-for-ou...,243,188,chase202,1/26/2016 18:17
103,11244541,Ubuntu 16.04 LTS to Ship Without Python 2,http://news.softpedia.com/news/ubuntu-16-04-lt...,2,1,_snydly,3/8/2016 10:39
144,10963528,Create a GUI Application Using Qt and Python i...,http://digitalpeer.com/s/c63e,21,1,zoodle,1/24/2016 19:01
196,10716331,How I Solved GCHQ's Xmas Card with Python and ...,http://matthewearl.github.io/2015/12/10/gchq-x...,6,1,kipi,12/11/2015 10:38
436,11895088,"Unikernel Power Comes to Java, Node.js, Go, an...",http://www.infoworld.com/article/3082051/open-...,3,1,syslandscape,6/13/2016 16:23
...,...,...,...,...,...,...,...
19597,12061177,David Beazley Python Concurrency from the Gro...,https://www.youtube.com/watch?v=MCs5OvhV9S4,2,1,bakery2k,7/9/2016 13:05
19852,10988468,Ask HN: How to automate Python apps deployment?,NaN,4,18,aalhour,1/28/2016 14:55
19862,11738470,Moving Away from Python 2,https://asmeurer.github.io/blog/posts/moving-a...,227,275,ngoldbaum,5/20/2016 15:14
19980,12524656,Python vs. Julia Observations,https://medium.com/@Jernfrost/python-vs-julia-...,2,1,blacksmythe,9/18/2016 9:54
19998,11735438,Show HN: Decorating: Animated pulsed for your ...,https://github.com/ryukinix/decorating,3,1,lerax,5/20/2016 3:48

## Sets

<img src="./images/set_syntax_breakdown.svg">

<img src="./images/basic_match_2.svg">

In [16]:
pattern = "[Pp]ython"

print(hn["title"].str.contains(pattern).sum())
hn[ hn["title"].str.contains(pattern) ].head()

160

,id,title,url,num_points,num_comments,author,created_at
102,10974870,From Python to Lua: Why We Switched,https://www.distelli.com/blog/using-lua-for-ou...,243,188,chase202,1/26/2016 18:17
103,11244541,Ubuntu 16.04 LTS to Ship Without Python 2,http://news.softpedia.com/news/ubuntu-16-04-lt...,2,1,_snydly,3/8/2016 10:39
144,10963528,Create a GUI Application Using Qt and Python i...,http://digitalpeer.com/s/c63e,21,1,zoodle,1/24/2016 19:01
196,10716331,How I Solved GCHQ's Xmas Card with Python and ...,http://matthewearl.github.io/2015/12/10/gchq-x...,6,1,kipi,12/11/2015 10:38
436,11895088,"Unikernel Power Comes to Java, Node.js, Go, an...",http://www.infoworld.com/article/3082051/open-...,3,1,syslandscape,6/13/2016 16:23

----

In [18]:
pattern = "sql"
print(hn["title"].str.contains(pattern).sum())

3

In [19]:
pattern = "Sql"
print(hn["title"].str.contains(pattern).sum())

4

In [20]:
pattern = "SQL"
print(hn["title"].str.contains(pattern).sum())

103

In [21]:
pattern = "[sS][qQ][lL]"
print(hn["title"].str.contains(pattern).sum())

108

## Quantifiers

<img alt="quantifier example" src="images/quantifier_example.svg">

https://regex101.com/

<img alt="quantifiers" src="images/quantifiers_numeric.svg">

<img alt="quantifiers" src="images/quantifiers_other.svg">

----

In [22]:
# email
# e-mail

pattern = "e-?mail" # e-mail, email
print(hn["title"].str.contains(pattern).sum())

86

## Escaping special characters

In [23]:
pattern = "[pdf]"
print(hn["title"].str.contains(pattern).sum())
hn[hn["title"].str.contains(pattern)].head()

18072

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [24]:
pattern = "\[pdf\]"
print(hn["title"].str.contains(pattern).sum())
hn[hn["title"].str.contains(pattern)].head()

276

,id,title,url,num_points,num_comments,author,created_at
66,10581844,"Analysis of 114 propaganda sources from ISIS, ...",http://37.252.122.95/sites/default/files/Insid...,1,1,crosre,11/17/2015 15:53
159,10213207,File indexing and searching for Plan 9 [pdf],http://lsub.org/ls/export/tags.pdf,49,11,vezzy-fnord,9/14/2015 0:19
162,10518372,"Attack on Kunduz Trauma Centre, Afghanistan I...",http://kunduz.msf.org/pdf/20151030_kunduz_revi...,3,1,andreasley,11/6/2015 8:28
445,12052321,New Directions in Cryptography by Diffie and H...,https://www-ee.stanford.edu/~hellman/publicati...,68,13,maverick_iceman,7/7/2016 21:56
511,11771984,Office of Inspector General's Audit of the Off...,https://cryptome.org/2016/05/state-oig-clinton...,4,1,nickysielicki,5/25/2016 18:29

# Raw strings

In [28]:
print("Python\b")

Python

In [29]:
print("Python\\b")

Python\b

In [ ]:
"C:\\User\\Desktop\\\\LTFE"

In [31]:
print(r"Python\b")

Python\b

## Character classes

<img alt="character classes one" src="images/character_classes_v2_1.svg">

<img alt="character classes two" src="images/character_classes_v2_2.svg">

In [37]:
pattern = r"\[\w+\]"
print(hn["title"].str.contains(pattern).sum())
hn[hn["title"].str.contains(pattern)].iloc[:5, 1].values

444

array(['Analysis of 114 propaganda sources from ISIS, Jabhat al-Nusra, al-Qaeda [pdf]',
       'Munich Gunman Got Weapon from the Darknet [German]',
       'File indexing and searching for Plan 9 [pdf]',
       'Attack on Kunduz Trauma Centre, Afghanistan  Initial MSF Internal Review [pdf]',
       '[Beta] Speedtest.net  HTML5 Speed Test'], dtype=object)

In [38]:
# [PHP-DEV] , [XKCD Flowchart]
pattern = r"\[.+\]"
print(hn["title"].str.contains(pattern).sum())
hn[hn["title"].str.contains(pattern)].iloc[:5, 1].values

471

array(['Analysis of 114 propaganda sources from ISIS, Jabhat al-Nusra, al-Qaeda [pdf]',
       'Munich Gunman Got Weapon from the Darknet [German]',
       'File indexing and searching for Plan 9 [pdf]',
       'Attack on Kunduz Trauma Centre, Afghanistan  Initial MSF Internal Review [pdf]',
       '[Beta] Speedtest.net  HTML5 Speed Test'], dtype=object)

# Capture groups

<img alt="capture tag text" src="images/tags_syntax_breakdown_v2.svg">

In [39]:
# [PHP-DEV] , [XKCD Flowchart]
pattern = r"\[(.+)\]"
print(hn["title"].str.contains(pattern).sum())
hn[hn["title"].str.contains(pattern)].iloc[:5, 1].values

471

C:\Users\ygreg\AppData\Local\Temp\ipykernel_3004\206033515.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  print(hn["title"].str.contains(pattern).sum())
C:\Users\ygreg\AppData\Local\Temp\ipykernel_3004\206033515.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  hn[hn["title"].str.contains(pattern)].iloc[:5, 1].values

array(['Analysis of 114 propaganda sources from ISIS, Jabhat al-Nusra, al-Qaeda [pdf]',
       'Munich Gunman Got Weapon from the Darknet [German]',
       'File indexing and searching for Plan 9 [pdf]',
       'Attack on Kunduz Trauma Centre, Afghanistan  Initial MSF Internal Review [pdf]',
       '[Beta] Speedtest.net  HTML5 Speed Test'], dtype=object)

In [51]:
pattern = r"\[(.+)\]"

hn["title"].str.extract(pattern).dropna().value_counts()

pdf                276
video              111
2015                 3
audio                3
beta                 2
                  ...
Map                  1
Live                 1
Ksummit-Discuss      1
JavaScript           1
viz                  1
Length: 79, dtype: int64

----

# Regex Flags


[Seznam regex zastav](https://docs.python.org/3/library/re.html#re.A)

In [55]:
import re
# sql
pattern = "sql"
hn[hn["title"].str.contains(pattern, flags=re.IGNORECASE)].head(20)["title"].values

array(['Crate raises $4M seed round for its next-gen SQL database',
       'PostgreSQL: Linux VS Windows  part 2',
       'MemSQL (YC W11) Raises $36M Series C',
       'The History of SQL Injection',
       'Pentesterlab Tutorial  SQL injection to web admin console to getting a shell',
       'Crab  SQL for your filesystem',
       'SQLite: The art of keep it simple',
       'Pgmemcahe :A PostgreSQL memcache functions',
       'How to choose an in-memory NoSQL solution: Performance measuring',
       'Show HN: Migrate  Sane database/sql migrations for Go',
       'Postgraphql: A GraphQL schema created by reflection over a PostgreSQL schema',
       'Outlier Detection in SQL',
       'MI6 (SIS) Is Developing a Node.js, Angular, NoSQL, Hadoop System on Cloudera',
       'Appropriate Uses for SQLite',
       'Microsoft SQL Server Images Available on Google Compute Engine',
       'Tracker: Ingesting MySQL data at scale  Part 2',
       'SQL for NoSQL: Couchbase N1QL Tutorial',
       'PacketQ: SQL queries for pcap files',
       'Hacking Microsoft SQL Server Without a Password',
       'Show HN: Embed a Search-box that converts plain English to SQL in your app'],
      dtype=object)

---

# Primer: Extracting URL parts

<div class="alert alert-block alert-info not_clean">
<b>Vaja:</b> 

Iz `url` stolpca pridobite:
* protocol
* domain
* page path
    
Tukaj bomo potrebovali 3 capture groups.
</div>

<img alt="URL examples showing protocol, domain, and page path" src="images/url_examples_2.svg">

In [56]:
urls = hn["url"]
urls.values[:10]

array(['http://www.interactivedynamicvideo.com/',
       'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
       'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
       'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
       'http://arstechnica.com/business/2015/10/comcast-and-other-isps-boost-network-investment-despite-net-neutrality/',
       nan, nan,
       'http://firstround.com/review/shims-jigs-and-other-woodworking-concepts-to-conquer-technical-debt/',
       'http://www.southpolestation.com/trivia/igy1/appendix.html',
       'http://techcrunch.com/2016/03/15/crate-raises-4m-seed-round-for-its-next-gen-sql-database/'],
      dtype=object)

In [57]:
pattern = r"(.+)://([\w\.]+)/?(.*)"
urls.str.extract(pattern)

,0,1,2
0,http,www.interactivedynamicvideo.com,
1,http,www.thewire.com,entertainment/2013/04/florida-djs-april-fools-...
2,https,www.amazon.com,Technology-Ventures-Enterprise-Thomas-Byers/dp...
3,http,www.nytimes.com,2007/11/07/movies/07stein.html?_r=0
4,http,arstechnica.com,business/2015/10/comcast-and-other-isps-boost-...
...,...,...,...
20094,https,puri.sm,philosophy/how-purism-avoids-intels-active-man...
20095,https,medium.com,@zreitano/the-yc-application-broken-down-and-t...
20096,http,blog.darknedgy.net,technology/2016/01/01/0/
20097,https,medium.com,@benjiwheeler/how-product-hunt-really-works-d8...
20098,https,github.com,jmcarp/robobrowser

---